*{
	margin: 0;
	padding: 0;
}

::selection {
  background: #333; /* WebKit/Blink Browsers */
  color:#FFF;
}
::-moz-selection {
  background: #333; /* Gecko Browsers */
  color:#FFF;
}

.inactiveLink {
	pointer-events: none;
   	cursor: default;
}


h1,h2,h3,h4{
	font-family: 'Roboto', sans-serif;
	color:#222;
}

h3{
	font-weight: 500;
	font-size: 22px;
	margin:22px 0 11px 0;
}

p,a{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;
	color:#222;
}

body{
	background: #ffffff;
}

/*Hamburger button*/
#hamburger-button{
  display:block;
  width:25px;
  height:18px;
  position:fixed;
  top:22px;
  left:22px;
  z-index:1000;
}

#hamburger-button>span{
  position:absolute;
  border-radius: 20px;
  height:15%;
  top:0px;
}

.hamburger-white>span{
	background: #FFF;
}

.hamburger-black>span{
	background: #222;
}

#hamburger-button>span:nth-child(1){
  width:100%;
  top:0%;
  transition:top 0.1s ease-in, width 0.1s ease 0.1s;
}

#hamburger-button>span:nth-child(2){
  width:95%;
  top:50%;
  transition:top 0.1s ease-in,width 0.1s ease-in, transform 0.1s ease-in;
  transition-delay: 0.15s;
}

#hamburger-button>span:nth-child(3){
  width:95%;
  top:50%;
  transition:top 0.1s ease-in,width 0.1s ease-in, transform 0.1s ease-in;
  transition-delay: 0.15s;
}

#hamburger-button>span:nth-child(4){
  width:70%;
  top:100%;
  transition:top 0.1s ease-in, width 0.1s ease 0.1s;
}

#hamburger-button.clicked>span{
	background: #222;
}

#hamburger-button.clicked>span:nth-child(1){
  top:50%;
  width:0%;
}

#hamburger-button.clicked>span:nth-child(2){
  top:50%;
  transform: rotate(-45deg);
}

#hamburger-button.clicked>span:nth-child(3){
  top:50%;
  transform: rotate(45deg);
}

#hamburger-button.clicked>span:nth-child(4){
  top:50%;
  width:0%;
}
/*Hamburger end*/

nav{
	position: fixed;
	z-index: -1;
	width: 100%;
	height:100%;
	background: rgba(255,255,255,0);	
	transition:all 0.2s ease-in-out;
}

nav.clicked{
	background: rgba(255,255,255,0.3);
	z-index: 100;
}

nav>ul{
	overflow: hidden;
	padding-top:110px;
	height:100%;
	width: 0;
	background: #FFF;
	-webkit-box-shadow: -10px 0px 35px 6px rgba(0,0,0,0.2);
	-moz-box-shadow: -10px 0px 35px 6px rgba(0,0,0,0.2);
	box-shadow: -10px 0px 35px 6px rgba(0,0,0,0.2);
	transition:all 0.2s ease-in-out;
}

nav.clicked>ul{
	width:75%;
}

nav>ul>li{
	list-style: none;
}

nav>ul>li>a{
	text-decoration: none;
	color:#222;
	padding:22px 22px;
	font-weight: 700;
	font-size: 42px;
    display: block;
 }

nav>ul>li>a:active{
	color:#e60781;
}

.white-line,.black-line{
		color:#222;
}

.anchor{
	display: block;
	position: relative;
	top: -88px;
	visibility: hidden;
}


figure#top-image{
	background: url("../img/main-image.jpg");
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: 20%;
	position: relative;
	text-align: center;

/*	-webkit-box-shadow: inset 0px -13px 154px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px -13px 154px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px -13px 154px 0px rgba(0,0,0,0.75);*/
}

figure#top-image>div#text-container{
	display: block;
	position: absolute;
	text-align: center;
	width: 100%;
	top:50%;
	margin-top: -75px;
}


figure#top-image>div#text-container>h2{
	color:#FFF;
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 44px;
	position: relative;
	display: inline-block;
	border: 2px #FFF solid;
	padding:10px 27px 10px 20px;
}

figure#top-image>div#text-container>h2:before{
	content: '> ';
	color:#FFF;
	font-weight: 400;
}

figure#top-image>div#text-container>h2:after{
	content: '_';
	color:#FFF;
	font-weight: 900;
	position: absolute;
    animation-name: blink;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    from {content: '_';}
    to {content:'';}
}


figure#top-image>div#text-container>h1{
	color:#fff;
	font-size: 72px;
	font-weight: 700;
}

#down-arrow{
	position: absolute;
	bottom: 0;
	left:50%;
	margin-left:-5px;
	border: solid 10px transparent;
	border-top-color:#FFF;
	font-size: 62px;
	font-weight: 300;
	margin-bottom: 11px;
}

#down-arrow:hover{
    animation: jump 0.5s infinite;
}


@keyframes jump {
    0% {
    	margin-bottom:11px;
    }
    50%{
    	margin-bottom: 22px;
    }
    100%{
    	margin-bottom: 11px;
    }
}


div.article-container{
	position: relative;
	padding:88px 0 0 0;
	margin-bottom: 44px;
}

div.article-container>h1,div.article-container>h4{
	text-align: center;
}
div.article-container>h1{
	color:#222;
	font-size: 42px;
	font-weight: 900;
}


div.article-container>h4{
	font-weight: 300;
	font-size:18px;
	color:#e60781;
}

.article-wrapper{
	padding: 88px 11px;
	overflow: hidden;
	text-align: center;
}

article#about-container>div>h2{
	margin:0 0 22px 0;
	font-size: 28px;
	text-align: center;
	font-weight: 900;
	padding-top: 22px 0;
}

#about-container>.article-wrapper>p{
	font-size: 20px;
	font-weight: 300;
}

#portfolio-container>.article-wrapper>h2{
	font-size: 28px;
	font-weight: 900;
}

#portfolio-container>.article-wrapper{
	padding: 44px 11px 0 11px;
}

.porfolio-obj-container{
	overflow: hidden;
	margin: 88px 0;
}

.left-container>a, .right-container>a{
	overflow: hidden;
}

.left-container>a>img, .right-container>a>img{
	width: 100%;
	height: auto;
	position: relative;
	display: block;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.left-container>p>a, .right-container>p>a{
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
}

.left-container>p, .right-container>p{
	font-size: 16px;
}

.left-container>a:hover>img, .right-container>a:hover>img {
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
     transform:scale(1.05);

	-webkit-filter: contrast(120%);
	filter: contrast(120%);
}




.left-container,.right-container{
	box-sizing:border-box;
	position: relative;
}

.portfolio-text>h3{
	font-size: 28px;
	font-weight: 700;
}


.right-container>.arrow-container,.left-container>.arrow-container{
	display: block;
}

.left-container>.arrow-container:after,.right-container>.arrow-container:after{
	border:solid 20px transparent;
	content:'';
	width: 0;
	height:0;
	position: absolute;
	bottom:0;
}
.right-container>.arrow-container:after,.left-container>.arrow-container:after{
	border-bottom-color:#ffffff;
	left:50%;
	margin-left: -20px;
}

.button{
	text-decoration: none;
	color:#222;
	display: inline-block;
	border: solid 2px #222;
	padding:5px;
	margin: 22px 0 0 0;
	text-align: center;
	font-weight: 500;
	position: relative;
	transition:all 0.2s ease-in-out;
}

.button:before{
	content: '';
	position: absolute;
	width:150px;
	height: 50px;
	background: #222;
	top:100%;
	left:0;
	transition:all 0.2s ease-in-out;
	z-index: -1;
}

.button:hover{
	color:#FFF;
}

.button:hover:before{
	top:0;
}

.button:active{
	color:#e60781;
	/*color:#ff3030;*/
	transition:none;
}

#back-to-top{
	position: fixed;
	width: 0;
	height: 0;
	display: block;
	border: solid 11px transparent;
	border-bottom-color: #111;
	z-index: 10;
	bottom:110px;
	transition:right 0.2s ease-in-out;
}

#back-to-top:active{
    border-bottom-color:#e60781;
}

#back-to-top:active:after{
    background:#e60781;
}

#back-to-top:after{
	position: absolute;
	content: '';
	display: block;
	width: 30px;
	height:3px;
	background: #111;
	left:-15px;
	bottom:-20px;
}

.hideBTT{
	right:-30px;
}

.displayBTT{
	right:44px;	
}

footer{
	text-align:center;
	padding:66px 0 0 0;
}

footer>p{
	padding:178px 0 22px 0;
	line-height: 22px;
	color:#555;
	font-size: 12px;
	font-weight: 500;
}

footer>.contact-logos{
	display: inline-block;
	height:50px;
	margin:0 22px;
	position: relative;
}

footer>.mail{
	padding:5px 0;
}

footer>.mail:hover>svg>g>path{
	fill:#e04c40;
}

footer>.github{
	height:60px;
}

footer>.github:hover>svg>path{
	fill:#4078c0;
}

footer>.contact-logos>svg{
	width: auto;
	height:100%;
}

footer>.codepen{
	height:60px;
}

footer>.codepen:hover>svg>g>path{
	fill:#30a9f4;
}

footer>.codepen:hover>.codepen-label{
	color:#30a9f4;
	width: 65px;
}

.social-media-label{
	position: absolute;
  	left: 0;
  	right: 0;
  	margin: 0 auto;
  	width: 0;
  	overflow: hidden;
  	font-weight: 700;
  	bottom:-25px;
  	transition:all 0.1s ease-in-out;
}

.contact-logos:hover>.social-media-label{
  	width: 60px;
}

.mail-label{
	color:#e04c40;
}

.github-label{
	color:#4078c0;
}


/*CSS for view more*/
.portfolio-obj-images>img{
	width: 100%;
	margin-bottom: 22px;
}

.aside-content{
	padding:0 0 66px 0;
}


.aside-content>h2{
	margin-bottom: 22px;
	font-weight: 900;
	font-size: 28px;
}

.aside-content>p>a{
	text-decoration: none;
	font-weight: 500;
}

body>a{
	display: block;
}

@media(min-width: 960px){

	#hamburger-button{
		display: none;
	}

	nav.clicked{
		width:100%;
	}


	nav.clicked{
		background: none;
	}


	nav.clicked>ul{
		width:auto;
	}



	nav{
		overflow: hidden;
		position: fixed;
		z-index: 100;
		width: 100%;
		height:auto;
		background: none;
		/*background: rgba(0,0,0,0.8);*/
	}

	nav>ul{
		float:right;
		margin:11px 22px 11px 0;
		padding-top:0;
		height:default;
		width:auto;
		background: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}




	nav>ul>li{
		float:left;
		list-style: none;
	}

	nav>ul>li>a{
		text-decoration: none;
		color:#FFF;
		margin:0 11px;
		padding:11px 0;
		font-size: 16px;
	   -webkit-transition: color 0.2s ease; /* Safari and Chrome */
	    -moz-transition: color 0.2s ease; /* Firefox */
	    -ms-transition: color 0.2s ease; /* IE 9 */
	    -o-transition: color 0.2s ease; /* Opera */
	    transition: color 0.2s ease;
	    position: relative;
	    overflow: hidden;
	    display: block;
	}

	.white-line{
		color:#FFF;
	}

	.white-line:active{
		color:#FFF;
	}

	.white-line:after{
		content: '';
		position: absolute;
		width:0px;
		height: 2px;
		background: #FFF;
		bottom:10px;
		left:0;
	   -webkit-transition: all 0.2s ease-in-out; /* Safari and Chrome */
	    -moz-transition: all 0.2s ease-in-out; /* Firefox */
	    -ms-transition: all 0.2s ease-in-out; /* IE 9 */
	    -o-transition: all 0.2s ease-in-out; /* Opera */
	    transition: all 0.2s ease-in-out;
	}


	.black-line{
		color:#222;
	}
	.black-line:active{
		color:#222;
	}


	.black-line:after{
		content: '';
		position: absolute;
		width:0px;
		height: 2px;
		background: #222;
		bottom:10px;
		left:0;
	   -webkit-transition: all 0.2s ease-in-out; /* Safari and Chrome */
	    -moz-transition: all 0.2s ease-in-out; /* Firefox */
	    -ms-transition: all 0.2s ease-in-out; /* IE 9 */
	    -o-transition: all 0.2s ease-in-out; /* Opera */
	    transition: all 0.2s ease-in-out;
	}

	nav>ul>li>a:hover:after{
		left:0;	
		width:100px;
	}

	nav>ul>li>a:hover{
		background: none;
	}

	nav>ul>li>a:active{
		background: none;
	}




	.article-wrapper{
		width:960px;
		margin: auto;
		padding: 88px 0;
		overflow: hidden;
		text-align: left;
	}

	article#about-container>div>h2{
		float:left;
		width: 25%;
		font-size: 42px;
		box-sizing:border-box;
		padding-right:22px;
		text-align: right;
		margin-top: 0;
	}
	article#about-container>div>p{
		width: 75%;
		float:right;
		box-sizing:border-box;
		padding-left:22px;
		margin-top: 5px;
	}

	#portfolio-container>.article-wrapper>h2{
		font-size: 42px;
	}

	.porfolio-obj-container{
		margin: 88px 0;
	}

	.left-container{
		width:50%;
	}


	.left-container{
		padding-right: 22px;
	}

	.right-container{
		padding-left: 22px;
	}


	.left-container>.arrow-container:after,.right-container>.arrow-container:after{
		border:solid 20px transparent;
		top:50%;
	}
	.right-container>.arrow-container:after{
		border-left-color:#ffffff;
		left:40px;
		margin-top: -20px;
	}

	.left-container>.arrow-container:after{
		border-right-color:#ffffff;
		left:100%;
		margin-left:-60px;
		margin-top: -20px;
	}

	.left-container{
		float:left;
	}

	.right-container{
		float:right;
		width: 50%;
	}

	.button{
		float:right;
		margin-top: 44px;
	}


	footer>.contact-logos{
		margin:0 44px;
	}

	/*CSS for view more*/
	.portfolio-obj-images{
		width: 700px;
	}

	.portfolio-obj-container{
		overflow: hidden;
	}

	.portfolio-obj-images>img{
		padding:0 44px 44px 0;
		box-sizing:border-box;
		position: relative;
		overflow: hidden;
	}

	footer{
		z-index: 20;
	}

	footer>p{
		padding:88px 0 22px 0;
		line-height: 22px;
		color:#555;
		font-size: 12px;
		font-weight: 500;
	}

	aside{
		position: absolute;
		height: 1710px;
		width: 970px;
		clip: rect(0, auto, auto, 0);
	}

	aside.drive{
		height:1370px;
	}

	aside.mayai{
		height:2220px;
	}

	aside.ToL{
		height:2155px;
	}

	aside>.aside-content{
		position: fixed;
		z-index: 10;
		width: 260px;
		left:50%;
		margin-left:230px;
	}

	.aside-content>h2{
		margin-bottom: 11px;
		font-weight: 900;
		font-size: 28px;
	}

}